body {
  margin: 0;
  overflow: auto;
  background-color: #f2ebee;
}

button {
  color: #c49175;
  background-color: transparent;
  font-family: "Gothic A1-Bold", Helvetica;
  font-size: 20px;  
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  border-radius: 30px;
  border-color: #c49175;
  width: fit-content;
}

input {
  margin: 10px;
}

.header {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c49175;
  height: 100px;
  width: 100%;
}

.title-light{
  color: #f2ebee;
  font-family: "Gothic A1-Bold", Helvetica;
  font-size: 41px;
  font-weight: 700;
  letter-spacing: 0;
  text-align: center;
  flex-grow: 1;
}

.title {
  color: #c49175;
  font-family: "Gothic A1-Bold", Helvetica;
  font-size: 41px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.header .setting-container {
  display: flex;
}

.header .settings {
  height: 88px;
  mix-blend-mode: overlay;
  object-fit: cover; 
}

.settings-button {
  height: 100%;
  aspect-ratio: 1;
  background-color: #c49175;
  border: transparent;
}

.header .back-button-container {
  width: 98px;
  padding-left: 10px;
  margin-right: auto;
}

.header .back-button {
  height: 88px;
  mix-blend-mode: overlay;
  object-fit: cover;
}

.pageBody {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  text-align: center;
  overflow-x: auto;
}

.pageBody .button-container {
  height: 30px;
  padding: 10px;  
  margin-bottom: 5px;
}

.pageBody .big-button {
  color: #c49175;
  background-color: transparent;
  font-family: "Gothic A1-Bold", Helvetica;
  font-size: 40px;  
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  border-radius: 30px;
  border-color: #c49175;
  width: fit-content;
  margin: 10px 0;
}

.pageBody .small-button { 
  color: #c49175;
  background-color: transparent;
  font-family: "Gothic A1-Bold", Helvetica;
  font-size: 20px;  
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  border-radius: 30px;
  border-color: #c49175;
  width: fit-content;
  margin: 5px;
  margin-bottom: 10px;
}

.pageBody .small-button-dark { 
  color: #f2ebee;
  background-color: #c49175;
  font-family: "Gothic A1-Bold", Helvetica;
  font-size: 20px;  
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  border-radius: 30px;
  border-color: #f2ebee;
  width: fit-content;
}

.popup .small-button {
  color: #c49175;
  background-color: transparent;
  font-family: "Gothic A1-Bold", Helvetica;
  font-size: 20px;  
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  border-radius: 30px;
  border-color: #c49175;
  width: fit-content;
}

.small-text {
  font-family: "Gothic A1-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  color: #c49175;
  margin-bottom: 10px;
}

.small-text-light {
  font-family: "Gothic A1-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  color: #f2ebee;
}

.smaller-text {
  font-family: "Gothic A1-Bold", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  color: #c49175;
}

.big-text {
  font-family: "Gothic A1-Bold", Helvetica;
  font-size: 22px;
  font-weight: 700; 
  color: #c49175;
  margin: 5px;
}

.bigger-text {
  font-family: "Gothic A1-Bold", Helvetica;
  font-size: 30px;
  font-weight: 700; 
  color: #c49175;
  margin: 10px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background: #f2ebee;
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow: auto;
  max-height: 80vh;
}

.row {
  display: flex;
  align-items: center;
}

.table-container {
  overflow: auto;
}

table {
  width: 800px;
  height: 200px;
}

th {
  background-color: #c49175;
  color: #f2ebee;
}

td {
  text-align: center;
}

tr:hover {
  background-color: #c4917554;
}

.error-message {
  color: #ff0000;
  margin-top: 8px; 
  font-size: 14px; 
  font-family: "Gothic A1-Bold", Helvetica;
}ƒ

input[type="range"] {
  width: 150px; 
  vertical-align: middle;
}

.text-box {
  width: 100%;
}

.row {
  display: flex;
  margin: 5px;
}

.row-items{
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.horizontal-line {
  border-top: 1px solid #c49175;
  margin-top: 10px; 
}

.vertical-line {
  border-left: 1px solid #c49175;
  height: 200px;
  margin: 0 100px;
}

@media only screen and (max-width: 600px) {
  .horizontal-line,
  .vertical-line {
    display: none;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
  }

  .row {
    flex-direction: column;
  }

  .popup-content {
    padding: 10px;
  }

  .title-light.desktop-only {
    display: none;
  }

  .header .settings {
    height: 60px;
  }

  .table-container {
    padding-left: 25%;
  }

}